<table class="table">
  <thead>
    <tr>
      <th class="text-left">远征队2</th>
      <th class="text-left">远征队3</th>
      <th class="text-left">远征队4</th>
      <th class="text-left">時間</th>
      <th class="text-center">燃料</th>
      <th class="text-center">弾薬</th>
      <th class="text-center">鋼材</th>
      <th class="text-center">ボーキ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="np">
        <div class="form-group form-inline">
          <select class="form-control input-sm" name="en1" ng-model="es1" ng-options="e1 for e1 in expedition1" ng-change="calget()"></select><label for="greatSuccess1">大成功</label><input id="greatSuccess1" type="checkbox" class="" ng-model="esd1" ng-change="calget()">
        </div>
        
      </td>
      <td class="np">
        <div class="form-group form-inline">
          <select class="form-control input-sm" name="en2" ng-model="es2" ng-options="e2 for e2 in expedition2" ng-change="calget()"></select><label for="greatSuccess2">大成功</label><input id="greatSuccess2" type="checkbox" class="" ng-model="esd2" ng-change="calget()">
        </div>
      </td>
      <td class="np">
        <div class="form-group form-inline">
          <select class="form-control input-sm" name="en3" ng-model="es3" ng-options="e3 for e3 in expedition3" ng-change="calget()"></select><label for="greatSuccess3">大成功</label><input id="greatSuccess3" type="checkbox" class="" ng-model="esd3" ng-change="calget()">
        </div>
      </td>
      <td class="np"><input type="number" class="form-control input-sm" style="width:60px" ng-model="esh" ng-change="calget()"></td>
      <td class="text-center">{{total[1]|number:2}}</td>
      <td class="text-center">{{total[2]|number:2}}</td>
      <td class="text-center">{{total[3]|number:2}}</td>
      <td class="text-center">{{total[4]|number:2}}</td>
      
    </tr>
    
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="hand text-primary" ng-click="reverse=!reverse;predicate='-id'">ID</th>
      <th>
          遠征名 <span class="pull-right">時給 <input type="checkbox" ng-model="hr" ng-change="perHour=!perHour"> 大成功 <input type="checkbox" ng-model="greatSuccess" ng-change="applys()"></span>        
      </th>
      <th>時間</th>
      <th class="text-primary hand text-center" ng-hide="perHour" ng-click="reverse=!reverse;predicate='-regard[0]'">提督EXP</th>
      <th class="text-primary hand text-center" ng-hide="perHour" ng-click="reverse=!reverse;predicate='-regard[1]'">燃料</th>
      <th class="text-primary hand text-center" ng-hide="perHour" ng-click="reverse=!reverse;predicate='-regard[2]'">弾薬</th>
      <th class="text-primary hand text-center" ng-hide="perHour" ng-click="reverse=!reverse;predicate='-regard[3]'">鋼材</th>
      <th class="text-primary hand text-center" ng-hide="perHour" ng-click="reverse=!reverse;predicate='-regard[4]'">ボーキ</th>
      <th class="text-primary hand text-center" ng-show="perHour" ng-click="reverse=!reverse;predicate='-regardph[0]'">提督EXP</th>
      <th class="text-primary hand text-center" ng-show="perHour" ng-click="reverse=!reverse;predicate='-regardph[1]'">燃料</th>
      <th class="text-primary hand text-center" ng-show="perHour" ng-click="reverse=!reverse;predicate='-regardph[2]'">弾薬</th>
      <th class="text-primary hand text-center" ng-show="perHour" ng-click="reverse=!reverse;predicate='-regardph[3]'">鋼材</th>
      <th class="text-primary hand text-center" ng-show="perHour" ng-click="reverse=!reverse;predicate='-regardph[4]'">ボーキ</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in expedition | orderBy:predicate:reverse">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.time}}</td>
      <td class="text-center" ng-hide="perHour">{{item.regard[0]}}</td>
      <td class="text-center" ng-hide="perHour">{{item.regard[1]*greatSuccessTime}}</td>
      <td class="text-center" ng-hide="perHour">{{item.regard[2]*greatSuccessTime}}</td>
      <td class="text-center" ng-hide="perHour">{{item.regard[3]*greatSuccessTime}}</td>
      <td class="text-center" ng-hide="perHour">{{item.regard[4]*greatSuccessTime}}</td>
      <td class="text-center" ng-show="perHour">{{item.regardph[0] | number:2}}</td>
      <td class="text-center" ng-show="perHour">{{item.regardph[1] | number:2}}</td>
      <td class="text-center" ng-show="perHour">{{item.regardph[2] | number:2}}</td>
      <td class="text-center" ng-show="perHour">{{item.regardph[3] | number:2}}</td>
      <td class="text-center" ng-show="perHour">{{item.regardph[4] | number:2}}</td>
      <!-- <td>{{item.min}}</td> -->
      <!-- <td>{{item}}</td> -->
      <!-- <tr ng-repeat="regard in item.regard">
        <td>{{regard}}</td>
      </tr> -->
      <!-- <td>{{item.}}</td> -->
      <!-- <td>{{item.}}</td> -->
      
    </tr>
  </tbody>
</table>
