<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <h3>随便放了点链接</h3>
    <div class="list-group">
      <a href="http://wikiwiki.jp/kancolle/?%B1%F3%C0%AC" class="list-group-item">远征</a>
      <a href="http://wikiwiki.jp/kancolle/?%C7%A4%CC%B3" class="list-group-item">任务</a>
      <a href="http://wikiwiki.jp/kancolle/?%B4%CA%B0%D7%BA%C7%BD%AA%C3%CD" class="list-group-item">船属性</a>
      <a href="http://wikiwiki.jp/kancolle/?%B2%FE%BD%A4%B9%A9%BE%B3" class="list-group-item">改修</a>
      <a href="http://wikiwiki.jp/kancolle/?%BD%D0%B7%E2" class="list-group-item">地图</a>
      <a href="http://vip.unlockacgweb.galstars.net/Kancollewiki/viewCreateShipLogList" class="list-group-item">建造统计</a>
      <a href="https://twitter.com/KanColle_STAFF" class="list-group-item">官推</a>
      <a href="http://sandbox.runjs.cn/show/x9ou86rn" class="list-group-item">老黄历</a>
      <a href="http://freetest.s503.xrea.com/kankore/agou_counter.php" class="list-group-item">あ号计数</a>
      <a href="http://www.kancolle-calc.net/aircrafts.html" class="list-group-item">制空计算</a>
    </div>
  </div>
</div>
