<div class="container-fluid">
  <div class="panel panel-primary pull-left p5" ng-repeat="(key,val) in eqs">
    <div class="panel panel-heading">
      {{key | etype}}
    </div>
    <div class="panel-body" ng-repeat="e in val">
      <select class="form-control input-sm pull-left w10em" ng-model="e.eqid" ng-options="id as obj.api_name+':'+options[key][id].api_saku+'鎖敵' for (id, obj) in options[key]" ng-change="e.saku=options[key][e.eqid].api_saku;calvr()"></select>
      <input class="form-control input-sm pull-left w2em" type="number" ng-model="e.num" ng-change="calvr()"> 
    </div>
    <div class="panel-footer hand text-center"  ng-click="addItem(key)">
      增加一件裝備
    </div>
  </div>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>HE</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><label for="">LV</label><input class="w40" type="number" ng-model="admiral" ng-change="calvr()"></td>
        <td><input type="number" class="w40" ng-model="team[0]" ng-change="calvr()"></td>
        <td><input type="number" class="w40" ng-model="team[1]" ng-change="calvr()"></td>
        <td><input type="number" class="w40" ng-model="team[2]" ng-change="calvr()"></td>
        <td><input type="number" class="w40" ng-model="team[3]" ng-change="calvr()"></td>
        <td><input type="number" class="w40" ng-model="team[4]" ng-change="calvr()"></td>
        <td><input type="number" class="w40" ng-model="team[5]" ng-change="calvr()"></td>
      </tr>
      <tr>
        <th>Sum:</th>
        <td colspan="6">{{vrmin | number:2}}~{{vrmax | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>
  <span class="label hand label-info" ng-click="editCal=!editCal">
    {{editCal?'取消编辑':'编辑公式'}}
  </span>
</h2>
<table class="table" ng-show="editCal">
  <tbody>
    <tr>
      <th class="text-right">索敌值 = </th>
      <td colspan="2">{{vrmin | number:2}}~{{vrmax | number:2}}</td>
    </tr>
    <tr ng-repeat="(key, val) in times">
      <td class="text-right">+</td>
      <th>{{key | etype}}</th>
      <td>*
      (<input type="number" class="w80" ng-model="val[0]" ng-change="calvr()">
      ±
      <input type="number" class="w80" ng-model="val[1]" ng-change="calvr()">)</td>
    </tr>
  </tbody>
</table>